[user]
	name = Your Name 
	email = default email address

[includeIf "gitdir:~/personal/"]
	path = ~/.config/git-config/.gitconfig

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f

[core]
	editor = nvim

